//Синий
$blue-menu: #84cdca;
$blue-links: #2b5885;

//red
$red-error: #e27d60;

//green
$green-success: #67c23a;
$green-light-1: #40b3a3;
$green-light-2: #40b3a396;

//yellow
$yellow-warning: #e8a87c;
$yellow-info-block: #fbeec1;

//white
$white: #fff;

//grey
$gray-border: #ccc;
$main-background: #edeef0;

